.signup-page-wrapper {
    display: grid;
    place-content: center;
    height: 50%;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .main-wrapper {
    display: grid;
    align-content: start;
    place-items: center;
    justify-content: center;
    padding-top: 150px;
  }

  #signup-form {
    display: grid;
    gap: 1rem;
    /*place-content: space-between;
    */position: sticky;
    top: 30px;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-rows: repeat(8, 60px);
    grid-gap: 15px;
    width: 400px;
    height: auto;
    border-radius: 5px;
    place-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: 1px solid #4190d1;
    /* background-color: #d3dfe8; */
  }

  #signup-form h1 {
    font-family: "Permanent Marker";
    color: #28fccaf5;
    font-size: 44px;
    width: 300px;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 20px;

  }

  #signup-form input {
    display: grid;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    font-size: 13px;
    height: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  #username input {
    width: 300px;
    height: 50px;
  }

  #firstname input {
    width: 300px;
    height: 50px;
  }

  #lastname input {
    width: 300px;
    height: 50px;
  }

  .input-wrapper {
    display: grid;
    place-content: center;
  }
  
  #email {
    display: grid;
    width: 300px;
  }

  #password {
    display: grid;
    width: 300px;
  }

  #signup-form button {
    display: grid;
    width: 300px;
    height: 40px;
    place-content: center;
    border-style: none;
    border-radius: 5px;
    font-family: "Permanent Marker";
    background-color: #4190d1;
    color: whitesmoke;
    transition: 0.3s;
  }

  #signup-form button:hover {
    cursor: pointer;
    transform: translate(-3px);
    transition: 0.3s;
  }
  
  .special-image-2 {
    height: 100%;
    width: 170%;
  }

  #login-link-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-weight: 600;
    place-content: center;
    gap: 1rem;
    font-weight: 800;
    padding-bottom: 20px;
  }

  #link {
    display: grid;
    color: #4190d1;
    transition: 0.3s;
  }

  #link:hover {
    cursor: pointer;
    transform: translate(-3px);
    transition: 0.3s;
  }