.register {
    display: grid;
    display: block;
    width: 300px;
    height: 530px;
    box-shadow: 0 0 0.75rem #0095c7da;
    border-radius: 10px;
    padding: 1rem;
    justify-items: center;
}

.button_container {
    display: grid;
    align-content: center;
    gap: 0.6rem;
}

.labelBlock_register {
    display: grid;
    justify-content: center;
}

.button__register {
    width: 240px;
    border-radius: 10px;
    height: 25px;
    border: 1px;
    background: #146dac;
    margin-top: 0.5rem;
}

.labelBlock {
    font-weight: 300;
    display: grid;
    display: block;
    text-align: center;
}

.register h1 {
    text-align: center;
}

.container {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.info {
    text-align: center;
    cursor: pointer;
}


.info:hover {
    color: crimson;
}

.inputRegister {
    padding: 0.5rem;
    width: 240px;
    border-radius: 10px;
    height: 25px;
    border: 0.1px solid rgb(168, 165, 165);
}