* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: black;
    text-decoration: none;
}

.dashboard_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(160, 160, 160);
}


.nav_left {
    display: grid;
    display: inline-block;
    margin: 0.1rem;
    padding: 0.5rem;

}


.nav_right {
    display: grid;
    display: inline-block;
    justify-self: end;
    margin: 0.1rem;
    padding: 0.5rem;
}


.headerUl {
    list-style: none;
}


.headerli {
    padding: 1rem;
    display: inline;

}



.main_Section {
    display: grid;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
}

.home__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    gap: 1.5rem;
}


.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    border: 1px solid rgb(160, 160, 160);
    width: 20rem;
    height: 33rem;

}

.card:hover {
    transform: scale(1.07);
}


.card>img {
    object-fit: fill;
    min-width: 300px;
    min-height: 150px;
    width: 100%;
    padding: 0.5rem;
}

.card__info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}


.title_Price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-width: 250px;
    padding-left: 0.2rem;
}

.title_Price>h2 {
    font-size: 18px;
    font-weight: 600;
}


.title_Price>h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}