.component_Cart_wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 0.2rem;
}

.left_section {
    display: grid;
    justify-items: center;
}

.right_section {
    display: grid;
    justify-items: center;
}

.card_cart {
    display: grid;
    margin-top: 5rem;
    margin-left: 4rem;
    align-items: center;
    height: fit-content;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}


.title {
    margin-top: 1rem;
    margin-bottom: 5vh;
    text-align: center
}


.checkout_section {
    display: grid;
    margin-top: 5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 90%;
}

.img_cart {
    width: 50px;
}


.product_cart__ {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    height: 80px;
    width: 90%;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    margin-left: 2rem;
    border-radius: 10px;
}

.delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    color: crimson;
    padding: 0.5rem;
}

.quantity {
    display: grid;
    justify-content: center;
    height: 50px;
}

#quantity_select {
    border: none;
    display: grid;
    background-color: white;
    align-content: center;
}

.cart_product_image {
    display: grid;
    border: 1px solid black;

}

.summary {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}


.back-to-shop {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}


h5 {
    margin-top: 4vh
}


hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}



.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    color: red;
    border-color: #000;
    transition: 2s;
    border-radius: 10px;
    border: 1px solid;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    cursor: pointer;
}