.component_Cart_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.left_section {
    display: grid;
}

.right_section {
    display: grid;
}


.title {
    margin-bottom: 5vh
}


.checkout_section {
    display: grid;

}

.img_cart {
    width: 50px;
}

.product_cart__ {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 80px;
    width: 90%;
    padding: 1rem;
    position: relative;
}

.delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
}

.quantity {
    display: grid;
    justify-content: center;
    height: 50px;

}



.cart_product_image {
    display: grid;
    border: 1px solid black;

}

.details {
    display: grid;
    border: 1px solid black;

}

.card_cart {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}




@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}


.summary {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}


.summary .col-2 {
    padding: 0
}


.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}


.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}



.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}



.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}


hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}



select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}


input:focus::-webkit-input-placeholder {
    color: transparent
}


.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}


.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}


#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}