.profile_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    margin-left: 2rem;
    border: 1px solid lightgray;
    margin-top: 5rem;

}


.sidebar__top>h4 {
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}


.sidebar__bottom {
    text-align: left;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}







.profile_card {
    display: grid;
    height: fit-content;
    place-items: center;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    border: 1px solid lightgray;
    background-color: white;
}

.users_list_item {
    text-decoration: none;
    color: black;
}